body{
    transition: all .3s;
}

.btnContainer{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1199px) {
    .btnContainer{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
        justify-content: center;
    }
  }

@media screen and (max-width: 991px) {
    .btnContainer{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        align-items: center;
        justify-content: center;
    }
  }

@media screen and (max-width: 767px) {
    .btnContainer{
        display: grid;
        grid-template-columns: 49% 49%;
        align-items: center;
        justify-content: center;
    }
  }

